.avatar {
  max-height: 64px;
  max-width: 64px;
  min-height: 64px;
  min-width: 64px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar > img {
  height: 64px;
  width: 64px;
  object-fit: cover;
}

.avatar-preview {
    max-height: 256px;
    max-width: 256px;
}
